/* Empty. Add your own CSS if you like */
#icon{
	background-size: contain;
	background-image: url('../img/icon.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100px;
	margin-top: 15px;
}

.i{
	color: gray;
    font-style: italic;
    min-width: 110px;
    display: inline-block;
}

label{
	border-radius: 3px;
}

.occupied{
	background-color: lavender;
}

.badge.orange{
	background-color: #FF5D33;
}

.icon.orange, i.orange, a.orange, .orange{
	color: #FF5D33;
}

.detail-list .student-list-header .active-tab{
	background-color: #387ef5;
    color: white;
}

.button-block{
	border-radius: 5px;
}

.popup-container .popup{
	width: 300px;
}

#confirm-img{
	margin: 0 auto -5px auto;
	display: block;
}

#img-canvas, #confirm-canvas{
	margin-bottom: -5px;
	position: relative;
}

.groupImg{
	margin: 0 auto -5px auto;
	display: block;
	width: auto; 
	height: 100%; 
}

.img-container {
	margin: 10px; 
	padding: 3px; 
	overflow: scroll;
	text-align:center;
	/*flex: 1 0 auto;*/
	position: relative;
}

.detail-container {
	margin: 10px;
	padding: 3px;
	overflow: scroll;
	text-align:center;
	/*flex: 1 0 auto;*/
	position: relative;
}

.confirm-container{
	margin: 10px; 
	padding: 3px; 
	overflow: scroll; 
	text-align:center;
	position: absolute;
    bottom: 45px;
    top: 0;
    left: 0;
    right: 0;
}

.student-list, .detail-student-list{
	top: 0;
	border-color: #ddd;
	border-width: 1px;
	border-left-style: solid;
	border-right-style: solid;
	overflow: scroll;
}

.list-container, .detail-list{
	max-height: 100%;
	display: inline-block;
	/*flex-flow: column;*/
	/*display: flex;*/
	position: relative;
}

.student-list-header{
	position: relative;
	height: 44px;
}

.flex-container{
	/*display: flex;*/
	height: 100%;
	display: inline-block;
    width: 100%;
}

.flex-container.detail-tab{
	position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding-top: 44px;
}

#detail-img{
	flex: 0 0 auto;
	max-width: 85%;
	max-height: 100%;
	margin: auto;
}

.img-container-portrait {
	width: auto;
	height: 50%;
}

.img-container-landscape{
	float: left;
	width: 68%;
	height: 95%;
}

.student-list-portrait {
	width: auto;
	overflow-x: hidden;
	height: 85%;
}

.student-list-landscape {
	height: 92%;
}

.list-container-portrait{
	/*flex: 0 1 auto;*/
	max-height: 47%;
	min-height: 47%;
	height: 47%;
	width: 100%;
}

.list-container-landscape{
	float: right;
	width: 27%;
	height: 95%;
}

/* For portrait */

@media screen and (orientation: portrait) {
	.detail-container{
		height: 45%;
		max-height: 45%;
		width: auto;
	}

	.detail-list{
	    flex: 0 1 auto;
	    height: 52%;
		width: 100%;
	}

	.detail-student-list {
		width: auto;
		/*flex: 0 1 auto;*/
		overflow-x: hidden;
		height: 82%;
	}

	#confirm-img{
		height: 100%; 
		width: auto; 
	}

	.detail-p{
		right: 20px;
	}
}

/* For landscape */

@media screen and (orientation: landscape) {
	.detail-container {
		float: left;
		width: 68%;
		max-width: 70%;
		height: 97%;
	}

	.detail-list{
		width: 28%;
		height: 100%;
	}

	.detail-student-list {
		height: 87%;
		/*flex: 1 1 auto;*/
	}

	#confirm-img{
		height: 100%; 
		width: auto; 
	}

	.detail-p{
	    right: 30%;
	    bottom: 5px;
	}

}

