{% load staticfiles %}
{% include "header.html" %}

<div class="container">

    <div class="page-header">
        <h3>{{ title|escape}}</h3>
    </div>
    {% if message %}<p><span class="alert alert-warning"><strong>{{ message|escape }}</strong></span></p><br/>{% endif %}

    <div>
        <form action="{% url url %}" method="post" enctype="multipart/form-data">
            {{ form }}
            <br/><input type="submit" value="Submit" />
        </form>
    </div>

    {% include "footer.html" %}
</div>