{% load staticfiles %}
{% include "face_tech/header.html" %}

<div class="container theme-showcase" role="main" style="margin-top: 30px">
    <div class="jumbotron">
        <h2>Face Algorithm</h2>
        <p><small>This is a face algorithm developed by computer vision lab in National University of Singapore.<br/>
        Just a few lines of codes, try to use face recognition right now. Do not need basic knowledge or extra codes.</small></p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'face_tech:get_start' %}" role="button">Learn more &raquo;</a></p>
    </div>
    {% if message %}<p><span class="alert alert-info"><strong>{{ message|escape}}</strong></span></p><br/>{% endif %}

      <div class="row">
        <div class="col-md-4">
          <h4>Face Detection</h4>
          <span>Robust face detection algorithm to help you find every faces in your photos, even side faces.</span>
          <p>Want to learn more about this, click below.</p>
          <p><a class="btn btn-default" href="{% url 'face_tech:get_start' %}#detect">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h4>Landmark Detection</h4>
          <span>Sufficient 68 landmark coordinates will be provide for each faces in photo.</span>
          <p>Even the outline of your faces.</p>
          <p><a class="btn btn-default" href="{% url 'face_tech:get_start' %}#detect">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h4>Face Recognition</h4>
          <span>Just a few steps, one function to help you verify every faces in image.</span>
          <p>No matter how big your group is, face algorithm can know who they are.</p>
          <p><a class="btn btn-default" href="{% url 'face_tech:get_start' %}#recognition">View details &raquo;</a></p>
        </div>
      </div>
{% include "face_tech/footer.html" %}
</div>