{% load staticfiles %}
{% include "attend/header.html" %}
<style>
    input, select{
        display: block;
        margin-bottom: 10px;
    }
</style>
<div class="container">

    <div class="page-header">
        <h3>{{ title|escape}}</h3>
    </div>
    {% if message %}<p><span class="alert alert-warning"><strong>{{ message|escape }}</strong></span></p><br/>{% endif %}

    <section>
        <form action="{% url url %}" method="post">
            {% csrf_token %}
            {{ form }}
            <br/><input type="submit" value="Submit" />
        </form>
    </section>

{% include "face_tech/footer.html" %}
</div>