          <h2 class="page-header">{{ user.username }}{{ request.session.ivle_user.username }}'s Modules
              {% if user.is_authenticated %}
                <small><a href="{% url 'attend:module_form' %}" style="font-size: 15px;text-decoration: none;">&nbsp;+ Add module</a></small>
              {% endif %}
          </h2>
          {% if message %}<p><span class="alert alert-warning"><strong>{{ message|escape }}</strong></span></p><br/>{% endif %}

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Course Code</th>
                  <th>Course Name</th>
                  <th>Academic Year</th>
                  <th>Semester</th>
                </tr>
              </thead>
              <tbody>
                {% if modules %}
                    {% for item in modules %}
                        <tr>
                          <td><a href="{% url 'attend:view_module' %}?id={{ item.ID }}">{{ item.CourseCode }}</a></td>
                          <td><a href="{% url 'attend:view_module' %}?id={{ item.ID }}">{{ item.CourseName }} {{ item.last_name }}</a></td>
                          <td>{{ item.CourseAcadYear }}</td>
                          <td>{{ item.CourseSemester }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td><i>No Module</i></td>
                    </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
