{% load staticfiles %}
{% include "attend/header.html" %}
<!-- Custom styles for this template -->
<link href="{% static 'dashboard.css' %}" rel="stylesheet">

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li {% if not module %}class="active"{% endif %}><a href="{% url 'attend:user_index' %}">Overview</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            {% for item in modules %}
                <li {% if module and module.ID == item.ID %}class="active"{% endif %}>
                    <a href="{% url 'attend:view_module' %}?id={{ item.ID }}">
                    {{ item.CourseCode }} {{ item.CourseName }}</a>

                    {% if module and module.ID == item.ID %}
                      <ul class="nav nav-sidebar" style="padding-left: 35px;margin: 10px 0;">
                        <li><a href="#weekly_chart" style="padding: 5px">Weekly Attendance</a></li>
                        <li><a href="#summary_table" style="padding: 5px">Attendance Summary</a></li>
                        <li><a href="#student_table" style="padding: 5px">Student Attendance</a></li>
                      </ul>
                    {% endif %}
                </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% include html %}
        </div>
      </div>
    </div>
